services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: grog_blog-backend
    container_name: backend
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: grog_blog-frontend
    container_name: frontend
    restart: always
    ports:
      - "80:5173"

  db:
    image: postgres:16
    container_name: db
    restart: always
    env_file:
      - ./backend/.env
    environment:
      PGDATA: /var/lib/postgresql/data/
    volumes:
      - ./db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
