services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: majdeq/grog_blog-backend:latest
    container_name: backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - db
    expose:
      - "3000"
    
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: "https://api.grogblog.xyz"
    image: majdeq/grog_blog-frontend:latest
    container_name: frontend
    restart: always
    expose:
      - "5000"
    
  db:
    image: postgres:16
    container_name: db
    restart: always
    env_file:
      - ./backend/.env
    environment:
      PGDATA: /var/lib/postgresql/data/
    volumes:
      - ./db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
      
  caddy:
    image: caddy:latest
    container_name: caddy
    restart: always
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"  # For HTTP/3
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - frontend
      - backend
      
volumes:
  caddy_data:
  caddy_config: