services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: majdeq/grog_blog-backend:latest
    container_name: backend
    restart: always
    env_file:
      - ./backend/.env
    depends_on:
      - db


  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: majdeq/grog_blog-frontend:latest
    container_name: frontend
    restart: always
    ports:
      - "80:5000"

  db:
    image: postgres:16
    container_name: db
    restart: always
    env_file:
      - ./backend/.env
    environment:
      PGDATA: /var/lib/postgresql/data/
    volumes:
      - ./db-data:/var/lib/postgresql/data
