# SET UP ENVIRONMENT
# DEPLOY

name: Continuous Delivery

on:
  push:
    branches:
      - main

jobs:
  checks: 
    runs-on: ubuntu-latest

    container:
      image: node:22
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          cd frontend
          npm install
          cd ../backend
          npm install

      - name: Build frontend and backend
        run: |
          cd frontend
          npm run build
          cd ../backend
          npm run build


      - name: Deploy to Droplet
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: deploy
          key: ${{ secrets.DROPLET_SSH_KEY }}
          script: |
            set -euo pipefail

            export DOCKER_BUILDKIT=1
            export COMPOSE_DOCKER_CLI_BUILD=1

            cd /var/www/grogBlog

            git pull origin main

            docker compose -f docker-compose.prod.yml up -d --build --remove-orphans