# SET UP ENVIRONMENT
# DEPLOY

name: Continuous Delivery

on:
  push:
    branches:
      - main

jobs:
  checks: 
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set Up node
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install Dependencies
        run: |
          cd frontend
          npm install
          cd ../backend
          npm install

      - name: Build frontend and backend
        run: |
          cd frontend
          npm run build
          cd ../backend
          npm run build
      
      - name: Login to Docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push images
        run: |
          docker compose -f docker-compose.prod.yml build
          docker push majdeq/grog_blog-frontend:latest
          docker push majdeq/grog_blog-backend:latest




      - name: Deploy to Droplet
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: deploy
          key: ${{ secrets.DROPLET_SSH_KEY }}
          passphrase: ${{ secrets.DROPLET_PASSPHRASE }}
          script: |
            set -euo pipefail

            export DOCKER_BUILDKIT=1
            export COMPOSE_DOCKER_CLI_BUILD=1

            cd /var/www/grogBlog

            git pull origin main

            docker compose -f docker-compose.prod.yml pull
            docker compose -f docker-compose.prod.yml up -d --remove-orphans
            docker compose exec backend npx prisma migrate deploy
            docker compose exec backend npx prisma generate
