name: Continuous Integration

on:
  pull_request:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-latest

    container:
      image: node:22

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: npm install

      - name: Build 
        run: npm run build