name: Continuous Integration

on:
  pull_request:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-latest

    container:
      image: node:22

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install Dependencies
        run: |
          cd frontend
          npm install
          cd ../backend
          npm install

      - name: Build frontend and backend
        run: |
          cd frontend
          npm run build
          cd ../backend
          npm run build