name: Continuous Integration

on:
  pull_request:
    branches:
      - main

jobs:
  checks:
    runs-on: ubuntu-latest

    container:
      image: node:22

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          
      - name: Install Frontend Dependencies
        run: |
          cd frontend
          npm install
          cd ..
      
      - name: Install Backend Dependencies
        run: |
          cd backend
          npm install
          cd ..
      
      - name: Generate Prisma Client
        run: |
          cd backend
          npx prisma generate
          cd ..
      
      - name: Type Check Backend
        run: |
          cd backend
          npx tsc --noEmit
      
      - name: Type Check Frontend
        run: |
          cd frontend
          npx tsc --noEmit
      - name: Build Frontend
        run: |
          cd frontend
          npm run build
      
      - name: Build Backend
        run: |
          cd backend
          npm run build